<style>
    .limited_width_text
    {
        max-width: 650px;
    }
    .limited_width_name
    {
        word-wrap: break-word;
        word-break: normal;
        max-width: 200px;
    }
    .in_table_header
    {
        text-align: center;
    }

    .collapse-toggle.collapsed::after
    {
        content: "\e260";
    }
    .collapse-toggle::after
    {
        position: relative;
        top: 3px;
        left: 5px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        content: "\e259";
    }
    .collapse-toggle.width.collapsed::after
    {
        content: "\e258";
    }
    .collapse-toggle.width::after
    {
        position: relative;
        top: 3px;
        left: 5px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        content: "\e257";
    }
</style>