{% extends "tree/base.html" %}

{% block app_content %}
    {% include 'tree/_tree_style.html' %}
    <h2>{{ title }}</h2>
    <div class="panel-group">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="tree">
                        <ul>
                            {% set _subject = subject1 %}
                            {% include 'tree/_subject_root_tree_node.html' %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="tree">
                        <ul>
                            {% set _subject = subject2 %}
                            {% include 'tree/_subject_root_tree_node.html' %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'tree/_tree_script.html' %}
{% endblock %}