{% include 'util/_horizontal_group_style.html' %}
<h1>Aggregator - Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default {% if scans %} active {% endif %}" href="{{ url_for('gui.scans_dashboard') }}" role="button">Scans</a>
        <a class="btn btn-default {% if subjects %} active {% endif %}" href="{{ url_for('gui.subjects_dashboard') }}" role="button">Subjects</a>
        <a class="btn btn-default {% if tools %} active {% endif %}" href="{{ url_for('gui.tools_dashboard') }}" role="button">Tools</a>
        <a class="btn btn-default {% if results %} active {% endif %}" href="{{ url_for('gui.results_dashboard') }}" role="button">Results</a>
        <a class="btn btn-default {% if tags %} active {% endif %}" href="{{ url_for('gui.tags_dashboard') }}" role="button">Tags</a>
    </div>
    <div class="col-md-8">
        <div class="panel-group panel-horizontal">
            {% include 'dashboard/_filter.html' %}
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="search-bar">Search</span>
            <input type="text" id="search-bar-val" class="form-control" placeholder="Search" aria-describedby="search-bar" {% if search %} value="{{ search }}" {% endif %}>
        </div>
    </div>
</div>