{% extends "dashboard/base.html" %}

{% block app_content %}
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Panel</h3>
            </div>
            <div id="admin-panel" class="panel-body">
                <a class="btn btn-default" href="{{ url_for('gui.admin_transfer_result_tags') }}" role="button">Transfer Result Tags</a>
                <a class="btn btn-default" href="{{ url_for('gui.rebuild_caches') }}" role="button">Rebuild Caches</a>
                <a class="btn btn-default" href="{{ url_for('gui.subject_depth') }}" role="button">Calc Depth</a>
                <a class="btn btn-default" href="{{ url_for('gui.wipe_db') }}" role="button">Wipe Database</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'result/_result_click_script.html' %}
    {% include 'util/_search_bar_script.html' %}
{% endblock %}