{% extends "dashboard/base.html" %}

{% block app_content %}
    <div class="panel-group">
        {% include 'util/_pagination_nav.html' %}
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    {% if sort == "id" %}
                        {% if sort_op == 'asc' %}  
                            <th scope="col"><div class="text-nowrap"><a href="{{ url_for(request.endpoint, **dict(request.args, sort='id', sort_op='desc', **request.view_args)) }}">Id <span class="glyphicon glyphicon-triangle-bottom"></span></a></div></th>
                        {% else %}
                            <th scope="col"><div class="text-nowrap"><a href="{{ url_for(request.endpoint, **dict(request.args, sort='id', sort_op='asc', **request.view_args)) }}">Id <span class="glyphicon glyphicon-triangle-top"> </span></a></div></th>
                        {% endif %}
                    {% else %}
                        <th scope="col" class="col-md-1"><a href="{{ url_for(request.endpoint, **dict(request.args, sort='id', **request.view_args)) }}">Id</a></th>
                    {% endif %}
                    <th scope="col">Tool</th>
                    <th scope="col">Arguments</th>
                    <th scope="col">New</th>
                    <th scope="col">Old</th>
                    <th scope="col" class="col-md-4">Result Tags</th>
                    <th scope="col">Started At</th>
                    <th scope="col">Finished At</th>
                </tr>
            </thead>
            {% for scan in scans %}
                <tr>
                    <td scope="col">
                        <a href="{{ url_for('gui.scan', id=scan.id) }}">{{ scan.id }}</a>
                        <a href="{{ url_for('gui.scan_delete', id=scan.id) }}" style="float:right">
                            <span class="glyphicon glyphicon-trash" area-hidden="true" title="Delete"></span>
                        </a>
                    </th>
                    <td scope="col">{{ scan.tool.name }}</th>
                    <td scope="col">{{ scan.arguments }}</th>
                    <td scope="col">{{ scan.results|list|length }}</td>
                    <td scope="col" class="text-muted">{{ scan.duplicates|list|length }}</td>
                    <td scope="col"><ul class="list-group list-group-horizontal">
                    {% for _tally in scan.get_result_tag_tallies() %}
                        {% include 'tag/_tag_tally.html' %}
                    {% endfor %}
                    </ul></td>
                    <td scope="col">{{ scan.started_at.strftime("%m/%d/%Y, %H:%M:%S") }}</th>
                    {% if scan.finished_at %}
                        <td scope="col">{{ scan.finished_at.strftime("%m/%d/%Y, %H:%M:%S") }}</th>
                    {% else %}
                        <td scope="col"></th>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% include 'util/_pagination_nav.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'result/_result_click_script.html' %}
{% endblock %}