{% extends "dashboard/base.html" %}

{% block app_content %}
    <div class="panel-group">
        {% include 'util/_pagination_nav.html' %}
        <table class="table table-bordered table-hover">
            {% include 'subject/_subject_table_header.html' %}
            {% for _subject in subjects %}
                {% include 'subject/_subject_table_entry.html' %}
            {% endfor %}
        </table>
        {% include 'util/_pagination_nav.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'result/_result_click_script.html' %}
    {% include 'tag/_tag_selector_script.html' %}
{% endblock %}