{% extends "dashboard/base.html" %}

{% block app_content %}
    <div class="panel-group">
        {% include 'util/_pagination_nav.html' %}
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="col-md-1">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Scans</th>
                </tr>
            </thead>
            {% for tool in tools %}
                <tr>
                    <td scope="col">{{ tool.id }}</th>
                    <td scope="col">{{ tool.name }}</th>
                    <td scope="col">{{ tool.version }}</th>
                    <td scope="col">{{ tool.scans|list|length }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'result/_result_click_script.html' %}
    {% include 'util/_search_bar_script.html' %}
{% endblock %}