{% extends "base.html" %}

{% block app_content %}
    {% include 'util/_table_style.html' %}
    <h1>{{ title }}</h1>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="collapse-toggle" data-toggle="collapse" href="#info-panel-collapse">Scan info</a>
                    <a href="{{ url_for('gui.scan_delete', id=scan.id) }}">
                        <span class="glyphicon glyphicon-trash" area-hidden="true" title="Delete"></span>
                    </a>
                </h3>
            </div>
            <div id="info-panel-collapse" class="panel-collapse collapse in">
                <div id="info-panel" class="panel-body">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Tool</h4></div>
                            <div class="panel-body">{{ scan.tool.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Arguments</h4></div>
                            <div class="panel-body">{{ scan.arguments }}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Run</h4></div>
                            <div class="panel-body">
                                <div>
                                    Start: {{ scan.started_at.strftime("%m/%d/%Y, %H:%M:%S") }}
                                </div>
                                {% if scan.finished_at %}
                                    <div>End: {{ scan.finished_at.strftime("%m/%d/%Y, %H:%M:%S") }}</div>
                                    <div>Duration: {{ (scan.finished_at-scan.started_at)}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="display:inline">
                                    <span>Results</span>
                                </h4>
                                <a href="{{url_for('gui.scan_transfer_tags',id=scan.id)}}">
                                    <span class="glyphicon glyphicon-import" area-hidden="true" title="Import matched tags"></span>
                                </a>
                            </div>
                            <div class="panel-body">
                                <td scope="col"><ul class="list-group list-group-horizontal">
                                    {% for _tally in scan.get_result_tag_tallies() %}
                                        {% include 'tag/_tag_tally.html' %}
                                    {% endfor %}
                                </ul></td>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'result/_result_click_script.html' %}
    {% include 'util/_note_update.html' %}
{% endblock %}