{% extends "base.html" %}

{% block app_content %}
    {% include 'util/_table_style.html' %}
    <h1>{{ title }}</h1>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="collapse-toggle" data-toggle="collapse" href="#info-panel-collapse">Scan info</a>

                </h3>
            </div>
            <div id="info-panel-collapse" class="panel-collapse collapse in">
                <div id="info-panel" class="panel-body">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Tool</h4></div>
                            <div class="panel-body">{{ scan.tool.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Arguments</h4></div>
                            <div class="panel-body">{{ scan.arguments }}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Run</h4></div>
                            <div class="panel-body">{{ scan.started_at.strftime("%m/%d/%Y, %H:%M:%S") }}
                                {% if scan.finished_at %}
                                    - {{ scan.finished_at.strftime("%m/%d/%Y, %H:%M:%S") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Results</h4></div>
                            <div class="panel-body">
                                <div>
                                    {{ scan.results|list|length }} new results {{ scan.get_states_string() }}
                                </div>
                                <div>
                                    {{ scan.duplicates|list|length }} duplicate results
                                </div>
                                <div>
                                    {{ scan.get_soft_matches()|list|length }} soft matched results {{ scan.get_soft_match_state_string() }}
                                    <a href="javascript:update_scan_soft_matches({{ scan.id }})"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Results</h2>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="collapse-toggle" data-toggle="collapse" href="#open-results-collapse">Open <span class="badge">{{ scan.results|list|length }}</a>
                </h3>
            </div>
            <div id="open-results-collapse" class="panel-collapse collapse in">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'result/_result_click_script.html' %}
    {% include 'util/_note_update.html' %}
{% endblock %}