{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#info-panel-collapse">Scan info</a>

                </h3>
            </div>
            <div id="info-panel-collapse" class="panel-collapse collapse in">
                <div id="info-panel" class="panel-body">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Tool</h4></div>
                            <div class="panel-body">{{ scan.tool.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Arguments</h4></div>
                            <div class="panel-body">{{ scan.arguments }}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Run</h4></div>
                            <div class="panel-body">{{ scan.started_at.strftime("%m/%d/%Y, %H:%M:%S") }}
                                {% if scan.finished_at %}
                                    - {{ scan.finished_at.strftime("%m/%d/%Y, %H:%M:%S") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Results</h4></div>
                            <div class="panel-body">
                                <div>
                                    {{ scan.results|list|length }} new results
                                </div>
                                <div>
                                    {{ scan.duplicates|list|length }} duplicate results
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Results</h2>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#open-results-collapse">Open <span class="badge">{{ scan.results.filter_by(state="open")|list|length }}</a>
                </h3>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'open', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'open', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'open', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'open', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="open-results-collapse" class="panel-collapse collapse in">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="open") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#undecided-results-collapse">Undecided <span class="badge">{{ scan.results.filter_by(state="undecided")|list|length }}</span></a>
                </h3>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'undecided', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'undecided', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'undecided', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'undecided', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="undecided-results-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="undecided") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#confirmed-results-collapse">Confirmed <span class="badge">{{ scan.results.filter_by(state="confirmed")|list|length }}</a>
                </h3>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'confirmed', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'confirmed', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'confirmed', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'confirmed', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="confirmed-results-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="confirmed") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#rejected-results-collapse">Rejected <span class="badge">{{ scan.results.filter_by(state="rejected")|list|length }}</a>
                </h3>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'rejected', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'rejected', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'rejected', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state({{ scan.id }}, undefined, 'rejected', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="rejected-results-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="rejected") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'result/_result_click_script.html' %}
{% endblock %}