{% extends 'bootstrap/base.html' %}

{% block title %}
    Aggregator
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{{ url_for('gui.dashboard') }}">Aggregator</a></li>
                </ul>
            </div>
            {% block navbar_content %} {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% if filterInfo %}
    <div hidden=1 id="filter_info_div">{{ filterInfo.as_json() }}</div>
    {% endif %}
    <div class="container-fluid">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/code_styles.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/panel_styles.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/table_styles.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('.static', filename='js/filtering.js')}}"></script>
{% endblock %}
</html>