{% extends "tag/base.html" %}

{% block app_content %}
<div class="panel-group">
    <div class="panel">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Preview</h4></div>
                <div class="panel-body">
                    <div>Really delete tag?</div>
                    {% include 'tag/_tag_preview.html' %}
                    <form action="", method="post">
                        <button type="submit">Delete</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}