{% extends "tag/base.html" %}

{% block app_content %}
{% include 'util/_table_style.html' %}
<div class="panel-group">
    <div class="panel">
        <div class="panel panel-default col-md-12">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Preview</h4>
                    </div>
                    <div class="panel-body">
                        {% include 'tag/_tag_preview.html' %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Actions</h4>
                    </div>
                    <div class="panel-body">
                        <span>
                            <a class="btn btn-default" href="{{ url_for('gui.edit_tag', id=tag.id) }}" role="button">Edit</a>
                        </span>
                        <span>
                            <a class="btn btn-default" href="{{ url_for('gui.delete_tag', id=tag.id) }}" role="button">Delete</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>Short Name</td>
                            <td><span>{{ tag.shortname }}</span></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td><span>{{ tag.color }}</span></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><span>{{ tag.name }}</span></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><span>{{ tag.description }}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'tag/_tag_script.html' %}
{% endblock %}