<tr>
    <td scope="col">
        {{ _subject.id }}
        <a href="{{url_for('gui.tree_subject', id=_subject.id)}}" title="Subject Tree View" style="float:right"><span class="glyphicon glyphicon-list"></span></a>
        {% if subject %}
            <a href="{{url_for('gui.tree_subject_diff', id1=subject.id, id2=_subject.id)}}" title="Diff Tree View" style="float:right">Δ</a>
            <a href="{{url_for('gui.tree_subject_comp', id1=subject.id, id2=_subject.id)}}" title="Compare Tree View" style="float:right"><span class="glyphicon glyphicon-eye-open"></span></a>
        {% endif %}
    </td>
    <td scope="col">
        <div>
            <div>
                <a href="{{ url_for('gui.subject', id=_subject.id) }}">{{ _subject.name }}</a>
            </div>
            <div>
                {% for tag in _subject.tags %}
                    {% include 'tag/_deleteable_subject_tag_preview.html' %}
                {% endfor %}
                {% include 'tag/_subject_tag_selector.html' %}
            </div>
        </div>
    </td>
    <td scope="col">
        <span class="collapse-toggle collapsed" data-toggle="collapse" data-target="{{ '#path-collapse-'+_subject.id.__str__() }}">{{ _subject.altPaths.first().path|truncate(50) }}</span>
        <div id="{{ 'path-collapse-'+_subject.id.__str__() }}" class="collapse">
            <ul>
            {% for path in _subject.altPaths %}
                <li>{{ path.path }}</li>
            {% endfor %}
            </ul>
        </div>
    </td>
    <td scope="col">
        {% for _tally in _subject.result_tags %}
            {% include 'tag/_tag_tally.html' %}
        {% endfor %}
    </td>
    <td scope="col">{{ _subject.created_at.strftime("%m/%d/%Y, %H:%M:%S")}}</td>
</tr>