{% extends "base.html" %}

{% block app_content %}
    {% include 'util/_table_style.html' %}
    <h1>{{ title }}</h1>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#info-panel-collapse">Subject info</a>
                </h3>
            </div>
            <div id="info-panel-collapse" class="panel-collapse collapse in">
                <div id="info-panel" class="panel-body">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Name</h4></div>
                            <div class="panel-body">{{ subject.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#path-panel-collapse">Known Paths <span class="badge">{{ subject.altPaths|list|length }}</span></a>
                                </h4>
                            </div>
                            <div id="path-panel-collapse" class="panel-collapse {% if subject.altPaths|list|length > 3 %} collapse {% else %} collapse in {% endif %}">
                                <div class="panel-body">
                                    <ul>
                                        {% for path in subject.altPaths %}
                                            <li>{{ path.path }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Results</h4></div>
                            <div class="panel-body">
                                <div>{{ subject.get_states_string() }}</div>
                                <div>{{ subject.get_soft_match_state_string() }}
                                    soft 
                                    <a href="javascript:update_subject_soft_matches({{ subject.id }})"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" href="#soft-matches-collapse">Soft Matches</a>

                </h2>
            </div>
            <div id="soft-matches-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="col-md-1">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Host</th>
                                <th scope="col">Paths</th>
                                <th scope="col">Results</th>
                                <th scope="col">Created At</th>
                            </tr>
                        </thead>
                        {% for match in soft_matches %}
                            <tr>
                                <td scope="col">{{ match.id }}</td>
                                <td scope="col"><a href="{{ url_for('gui.subject', id=match.id) }}">{{ match.name }}</a></td>
                                <td scope="col">{{ match.host }}</td>
                                <td scope="col">
                                    <a data-toggle="collapse" data-target="{{ '#path-collapse-'+match.id.__str__() }}">{{ match.altPaths.first().path|truncate(50) }}</a>
                                    <div id="{{ 'path-collapse-'+match.id.__str__() }}" class="collapse">
                                        <ul>
                                        {% for path in match.altPaths %}
                                            <li>{{ path.path }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                                <td scope="col">{{ match.get_states_string() }}</td>
                                <td scope="col">{{ match.created_at.strftime("%m/%d/%Y, %H:%M:%S")}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </table>
            </div>
        </div>
    </div>
    <h2>Results</h2>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#open-results-collapse">Open <span class="badge">{{ subject.results.filter_by(state="open")|list|length }}</a>
                </h3>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'open', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'open', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'open', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'open', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="open-results-collapse" class="panel-collapse collapse in">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="open") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#undecided-results-collapse">Undecided <span class="badge">{{ subject.results.filter_by(state="undecided")|list|length }}</span></a>
                </h3>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'undecided', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'undecided', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'undecided', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'undecided', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="undecided-results-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="undecided") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#confirmed-results-collapse">Confirmed <span class="badge">{{ subject.results.filter_by(state="confirmed")|list|length }}</a>
                </h3>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'confirmed', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'confirmed', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'confirmed', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'confirmed', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="confirmed-results-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="confirmed") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#rejected-results-collapse">Rejected <span class="badge">{{ subject.results.filter_by(state="rejected")|list|length }}</a>
                </h3>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'rejected', undefined, 'open')"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'rejected', undefined, 'confirmed')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'rejected', undefined, 'undecided')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="javascript:mass_update_state(undefined, {{ subject.id }}, 'rejected', undefined, 'rejected')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div id="rejected-results-collapse" class="panel-collapse collapse">
                <table class="table table-bordered table-hover">
                    {% include 'result/_result_panel_header.html' %}
                    {% for result in results.filter_by(state="rejected") %}
                        {% include 'result/_result_panel.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'result/_result_click_script.html' %}
    {% include 'util/_note_update.html' %}
{% endblock %}